*
!.gitignore
!wp-content/
!wp-content/*
!wp-content/plugins/
!wp-content/plugins/*
!wp-content/plugins/chalets&caviar
!wp-content/plugins/chalets&caviar/*
!wp-content/themes/
!wp-content/themes/*
!wp-content/themes/ashe/
!wp-content/themes/ashe/*
!wp-content/themes/ashe/*/*
!wp-content/themes/ashe/*/*/*
!wp-content/themes/ashe/*/*/*/*
!wp-content/themes/ashe/*/*/*/*/*
!wp-content/themes/chalets&caviar/
!wp-content/themes/chalets&caviar/*
